{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block header %}
<h1>Contacto</h1>
<span class="subheading">Por cualquier consulta dejanos nuestros datos debajo</span>
{% endblock %}

{% block content %}
<h2>Contacto</h2>

<p>Este sera el template de la pagina de contacto, aun se encuentra bajo construccion pero proximamente podras contactarnos sin problemas. Gracias!</p>
{% endblock %}